[2020-06-05 23:12] mark-fangzhou-xie opened #9 "How to use it efficiently in the pipeline?"
Hi! Thanks for this package. I am trying to use this one with `sentencizer` and `merge_entities` pipelines but I am not sure what is the best way to combine them. My objective is to:

1. parse a long text into sentences
2. fix possible typos in sentences
3. tokenize each sentence, find and merge entities within sentences

What is more, when I tried to load checker in pipeline, it sometimes will re

[2020-06-06 13:54] R1j1t commented on #9
Hi @mark-fangzhou-xie, thanks for pointing out this issue. There are 2 questions in there. Let me first solve the 2nd question.

`TypeError: 'NoneType' object is not iterable`. To improve the performance what I have done is I am using the sentence to provide context to the model when correcting any misspell and not multiple sentences. For that I am relying on `token.sent`, which in-turn has [depen

[2020-06-13 13:29] #9 closed

[2020-06-13 13:32] R1j1t commented on #9
I have completed the change. This is will set the corrected sentence at the time this package is executed in the pipeline. Also, if any other package modifies the position or text of misspell token, it will raise a warning.

[2020-06-17 04:22] gaurav0804 opened #11 "error while adding to pipeline"
import spacy
import contextualSpellCheck

nlp = spacy.load('en_core_web_sm')
contextualSpellCheck.add_to_pipe(nlp)

I get the following error
---------------------------------------------------------------------------
UnicodeDecodeError                        Traceback (most recent call last)
<ipython-input-25-b1dd2394cb14> in <module>
      1 nlp = spacy.load('en_core_web_sm')
----> 2 contextualS

[2020-06-17 06:53] gaurav0804 commented on #11
Added encoding='utf' at line 28 with open(vocab_path, encoding='utf8') as f:

works fine now

[2020-06-17 06:53] #11 closed

[2020-06-17 10:10] gaurav0804 opened #12 "Adding words to vocabulary"
How to add words to vocabulary?

[2020-06-18 14:17] R1j1t commented on #12
Hi @gaurav0804 At present, there is no option to update the vocab. I have this feature planned and will add it in coming days. If you want to contribute then please create a PR :)

[2020-06-24 13:26] JoseZamora97 opened #13 "Spanish contextual spell check"
Hi, I loaded this wonderful module into a spacy Spanish model. And did not work. I assume it because the training was done with English dataset. Is three any way to make this algorithm works with Spanish spacy model. Thank you.

[2020-06-24 16:30] R1j1t commented on #13
This is good idea. I can make some changes where you can specify your model (some constrains will be there). Let me see what I can do over the weekend. If you like to contribute please feel free to create a PR.

[2020-07-14 17:37] JoseZamora97 commented on #13
Have you been able to do implement anything?

[2020-07-16 15:43] R1j1t commented on #13
@JoseZamora97 the task sounds good for the package but havent had much time to look into it because of some other work.

[2020-07-20 15:58] #12 closed

[2020-07-25 09:39] wushixian opened #15 "How to specify bert model?"
I use spacy 2.3.1 which support chinese model, and I wanna use contextualspellcheck to check chinese spell,but the result is hard to understand, so I think I should specify a chinese bert model.
Can I specify it by code? or I must modify source code to do that?
thanks very much.

[2020-07-25 13:38] R1j1t commented on #15
At present, you will have to modify the source code. I have this use case in mind and because we use transformers package it should be relatively easy. If you think you can contribute, please raise a PR for it! I would be happy to see new contributions.

[2020-07-25 15:39] wushixian commented on #15
OK，I really wanna try it. Thanks very much.

[2020-07-26 08:57] sshobham opened #16 "UnicodeDecodeError"
'charmap' codec can't decode byte 0x90 in position 3920: character maps to undefined
while adding contextualSpellCheck to spacy pipeline

[2020-07-26 11:56] R1j1t commented on #16
@sshobham this error is fixed and the latest code is in the master. This issue is similar to #11 and @gaurav0804 suggested the fix as well. I will release the latest code to pypi and you would be able to download it from pip.

[2020-07-26 11:56] #16 closed

[2020-07-26 23:00] wushixian commented on #15
I tried ro modify the code, and used bert-base-chinese model, but the result was not ideal, I'll try to fine-tuning the model.

[2020-07-27 15:47] R1j1t commented on #15
@wushixian did you consider the edit distance logic? I dont think it will be same as english. Maybe you need to modify [this](https://github.com/R1j1t/contextualSpellCheck/blob/master/contextualSpellCheck/contextualSpellCheck.py#L293) function.

[2020-07-28 00:02] wushixian commented on #15
Thanks for the remind, I'll try to modify the function.

[2020-08-02 11:14] sshobham commented on #16
Thanks for the update

[2020-08-20 14:28] AlvaroCavalcante opened #17 "Missing requirements"
I installed this great package using ```pip install contextualSpellCheck```, but when I tried to test I got a sequence of errors because of missing requirements. (Pytorch, Transformers, and editdistance).
No problem here! I just installed these missing packages manually but would be nice if it installs automatically.
So, I recommend modifying the setup.py file with the following configuration.
ins

[2020-08-20 16:32] R1j1t commented on #17
That is a great suggestion. If you want would you like to raise a PR? I can add it over the weekend though

[2020-08-20 17:43] AlvaroCavalcante commented on #17
Ok, I opened a PR! https://github.com/R1j1t/contextualSpellCheck/pull/18

[2020-09-02 16:23] #13 closed

[2020-09-02 16:23] #15 closed

[2020-09-24 11:11] naturecreator opened #24 "Fine-tuning the BERT model"
I want to use contextualSpellCheck for my project. Is it possible to fine-tune the BERT model and use this fine-tuned model for contextual spell checking (I want to fine-tune the BERT model for a specific domain)?

Can you please provide some insights or an example on this?

[2020-09-24 15:53] R1j1t commented on #24
ContextualSpellCheck relies on 🤗Transformers library to provide the model. So you can follow [their fine tuning pipeline](https://huggingface.co/transformers/training.html) and then load the updated model by providing the local path to contextualSpellCheck as below:
https://github.com/R1j1t/contextualSpellCheck/blob/96cb79e968c3d6d1caffff4e5f1fbc8476dad3b0/examples/ja_example.py#L5-L8

A snippet o

[2020-09-24 19:26] naturecreator commented on #24
Thanks a lot for the detailed information :). I am also interested to work on real-word errors in my project. Do you have any suggestions to tackle this problem?

[2020-09-25 13:15] R1j1t commented on #24
I am happy the solution worked for you!

Regrading the RWE, it is a difficult problem to deal with. I did some reading before starting this project on both RWE and NWE. In my understanding a spell corrector pipeline can be divided as follows:

1. Misspell word identification
2. Candidate generation for replacement
3. selection from the candidate

RWE and NWE are very similar except for step 1. If

[2020-09-25 13:17] R1j1t commented on #24
Also I will close this issue for now. If you face any issue with fine tuning, then please check 🤗Transformers repo for more doc or raise an issue if you encounter a bug while fine tuning.

[2020-09-25 13:17] #24 closed

[2020-09-29 19:40] AlvaroCavalcante opened #25 "Improve general code quality for maintenance purposes"
**Is your feature request related to a problem? Please describe.**
In my last contribution, I noticed that the code has some improvements that can be done to let it be easier to maintain. The linting note reveals that has some work to do!
![image](https://user-images.githubusercontent.com/37350513/94607426-4578bd00-0272-11eb-8003-72cea8914193.png)

**Describe the solution you'd like**
I would like

[2020-09-29 21:02] naturecreator commented on #24
Hello @R1j1t ,

I could fine-tune the BERT model as it is shown in the [example] (https://github.com/huggingface/transformers/tree/master/examples/language-modeling) and the model is saved as pytorch_model.bin (413 mb). Then I tried to use this model for the contextualSpellCheck but I am facing the following error:

[code]

Can you please help me to resolve this issue?

[2020-09-29 22:29] naturecreator commented on #24
I got it worked and the following files must be in the same folder and the path should be projected to the folder (not to the pytorch_model.bin):

vocab.txt - vocabulary file
pytorch_model.bin - the Pytorch-compatible (and converted) model
config.json - json-based model configuration

[2020-09-29 22:52] nicno90 opened #26 "[BUG] Apostrophes"
**Removing "s" after apostrophe**
When apostrophes are in sentence yields weird results.

**To Reproduce**
[code]

**Expected behavior**
" 's " should not be touched.

**Version (please complete the following information):**
 - contextualSpellCheck [e.g. 0.3.0]
 - Spacy: [e.g. 2.3.2]
 - transformers [e.g. 3.1.0]

[2020-09-30 09:40] naturecreator commented on #24
Hi @R1j1t ,

Do you know how loss is calculated during fine-tuning the BERTForMaskedLM using  [run_language_modeling.py](https://github.com/huggingface/transformers/tree/master/examples/language-modeling)?

While fine-tuning, we can only see loss and perplexity which is useful.
Is it also possible to see the accuracy of the model and also the tensorboard when using the “run_language_modeling.py” s

[2020-09-30 13:16] R1j1t commented on #25
@AlvaroCavalcante that is a low score, could you please help me provide the details, where I can run the test? Flake8 was added (https://github.com/R1j1t/contextualSpellCheck/pull/23) and I believe that would have improved the code style (but 2.86?). If you want you can open a PR and suggest improvements!

[2020-09-30 13:31] R1j1t commented on #26
I tried running the given sentence and it worked as expected on my local. If there is no spelling correction then it returns `''` as mentioned in the [README](https://github.com/R1j1t/contextualSpellCheck#spacydoc-level-extensions).

[code]

Please provide the code to replicate and version info of the package if you are not using the latest.

[2020-09-30 15:22] R1j1t commented on #24
@naturecreator please check the relevant documentations or code to understand this.

[2020-09-30 16:03] AlvaroCavalcante commented on #25
@R1j1t This score is from contextualSpellCheck.py I ran this command:
```pylint --reports=y .```  inside "contextualSpellCheck" folder. I'll create a PR to solve some of the reported issues to try to increase the score ok?

[2020-09-30 16:04] nicno90 commented on #26
`nlp = spacy.load('en_core_web_lg')
spell_checker = ContextualSpellCheck(max_edit_dist=4)
nlp.add_pipe(spell_checker)

def correct_spelling(sentence):
    global nlp
    doc = nlp(sentence)
    return doc._.outcome_spellCheck

print(correct_spelling2("Pure Python Spell Checking based on Peter Norvig’s blog post on setting up a simple spell checking algorithm."))
`

**Version (please complete the f

[2020-09-30 16:55] R1j1t commented on #26
Thanks @nicno90 I will have a look.

[2020-09-30 16:58] R1j1t commented on #25
I will have a look at pylint. Thanks for informing me about this, I had no idea. I will also have a look at how the metric is calculated and the suggestions `pylint` makes.

Please create a PR and I will merge it.  Thanks for the info and contribution!

[2020-10-01 13:21] AlvaroCavalcante commented on #25
@R1j1t I was looking for an older version of branch master, after sync, I checked that the lint quality is good, sorry! I'll close this issue.

[2020-10-01 13:21] #25 closed

[2020-10-01 14:15] R1j1t commented on #25
I also ran the test locally and got the score of 7.93/10 for contextualSpellCheck.py. Some of the suggestions were good. I will not add it to github actions for now but will be a nice addition for sure.

[2020-10-04 16:44] R1j1t commented on #26
I checked and have found the issue.

When using `en_core_web_sm`, token `'s` is identified as `PERSON` from spaCy pipeline but in `en_core_web_lg` it is not identified as `PERSON`. Below is my logic to identify misspell.

https://github.com/R1j1t/contextualSpellCheck/blob/96cb79e968c3d6d1caffff4e5f1fbc8476dad3b0/contextualSpellCheck/contextualSpellCheck.py#L242-L254

`token.ent_type_ != "PERSON"`

[2020-10-05 18:04] nicno90 commented on #26
@R1j1t  Thank you for looking into it!

[2020-10-11 08:14] murtuzamdahod opened #29 "Training model on my Own dataset (Transfer Learning)"
Hello @R1j1t ,
Greetings for the day,

I have a dataset of 20 lakh food item names and I want to build a spell correct model using my own dataset. Can you please guide me on how can I do that?

[2020-10-12 14:26] R1j1t commented on #29
@murtuzamdahod I dont have much information to comment but please check this related issue #24 if it can help!

[2020-10-14 17:42] nicno90 opened #30 "Words being corrected ##ts [BUG]"
**Describe the bug**
Words tagged as incorrect are replaced with a word with hashtags.

**To Reproduce**
[code]

**Expected behavior**
'Everyone has to help to fix the problems of society. There has to be more training, more opportunity to bridge the gap between the have and the have nots.'
or
'Everyone has to help to fix the problems of society. There has to be more training, more opportunity to

[2020-10-15 13:18] R1j1t commented on #30
Thanks for reporting it @nicno90 I will look into it and see why it is coming.

[2020-10-19 17:54] ajay-sreeram commented on #30
@R1j1t , and also it will be nice if top_n is configurable

[2020-10-25 02:57] abal6725 opened #31 "How to replace the text in spacy pipeline with spell_checked text."
Hello,

Perhaps this is not a question for you, but I am trying to use the spell checker in my pipeline and I am trying use the spell_checked text for further use in my pipeline. I am running into issues while doing this. Do you have any advice? Thanks!

[2020-10-25 10:20] #26 closed

[2020-10-25 10:21] R1j1t commented on #26
@nicno90 I have added the fix and test cases. I will release it to PyPi in the next couple of hours.

[2020-10-25 10:48] R1j1t commented on #29
I will close this PR. Please feel free to open another one if you have any questions

[2020-10-25 10:48] #29 closed

[2020-10-25 10:51] R1j1t commented on #31
@abal6725 it is difficult to infer what you are trying to achieve but have a look at [token level extension](https://github.com/R1j1t/contextualSpellCheck#spacytoken-level-extensions) which gives the information of suggestion and confidence score. There are document and span level extensions as well if that would work as well.

[2020-10-29 14:30] harshil15999 opened #35 "[BUG] Errors while installing in CONDA environment using pip"
**Describe the bug**
When we use the conda environent and try downloading this

**To Reproduce**
[code]

[2020-10-29 14:44] harshil15999 commented on #35
clone the library from github and then pip install -r requirements.txt

[2020-10-29 16:03] R1j1t commented on #35
@harshil15999 this is not a problem from contextualSpellCheck but when installing pytorch dependency. You can try to find the solution on stack overflow, and if the problem still exist can raise a bug in pytorch repository.

I will be closing this issue as it not related to contextualSpellCheck

[2020-10-29 16:03] #35 closed

[2020-12-16 05:39] saheel1115 commented on #30
I am also getting similar errors. Getting `##net` and `##ER` as corrections.

[2020-12-16 09:35] R1j1t commented on #30
@saheel1115 can you send be the following:
`Input sentence:`
`Output:`
`Expected:`

I will try to fix it by this weekend.

[2020-12-17 19:56] R1j1t opened #38 "dependency version number in setup.py"
This will help prevent code break when some user has an old dependency.

Considerations: Will need to check the lowest version to minimise the unnecessary updates

[2020-12-17 19:59] R1j1t opened #39 "Rewrite part of library in Cython"
At present the time-spent on 1 sentence is around ~0.7sec for spaCy small models on CPU. With the assumption that Cython can bring down the compute time.

[2020-12-17 20:05] R1j1t opened #40 "Improve metric for candidate selection"
At present we are using edit distance ([Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance)) which is provided by editdistance package. For many languages (Japanese, Chinese and others) it is not a good similarity score. It was [suggested to use strokes score](https://github.com/R1j1t/contextualSpellCheck/pull/20#issuecomment-683410312) does it have available material to read

[2020-12-17 20:09] R1j1t opened #41 "Add examples in our documentation"
We have examples of how to use this package in English and Japanese. It would help if we can improve our documentation so that it becomes easy to understand contextualSpellCheck for others maybe add documentation in other languages.

[2020-12-18 11:04] R1j1t commented on #30
@nicno90 I have fixed this issue in PR #36. So for your input
`Input: Everyone has to help to fix the problems of society. There has to be more training, more opportunity to bridge the gap between the haves and the have nots.`
`Output: Everyone has to help to fix the problems of society.  There has to be more training, more opportunity to bridge the gap between the have and the havets.`

This is w

[2020-12-21 17:38] #31 closed

[2020-12-21 18:45] R1j1t commented on #30
Latest package released on PyPi!
Release: https://github.com/R1j1t/contextualSpellCheck/releases/tag/v0.3.3
PyPi Link: https://pypi.org/project/contextualSpellCheck/

[2020-12-21 19:02] #30 closed

[2020-12-21 19:08] R1j1t opened #44 "Update the logic of misspell identification"
**Is your feature request related to a problem? Please describe.**
The current logic of misspell identification relies on vocab.txt from the transformer model. For not so common words tokenizers breaks them into subwords and hence the original entire word might be present as in in vocab.txt

**Describe the solution you'd like**
Still not clear, need to look into some papers on this.

**Describe al

[2020-12-22 18:28] letconex commented on #44
Concerning the logic: Is this a viable response?

This is a fact mistaken.

This is a major mistake.

This is a for mistakes.

This is a minor story.

[2020-12-23 07:16] R1j1t commented on #41
This looks like a good first start
https://packaging.python.org/tutorials/creating-documentation/

[2020-12-23 10:54] R1j1t commented on #44
That is not the desired response. But it is based on the current logic. If you want to improve accuracy, please try pass the vocab file
https://github.com/R1j1t/contextualSpellCheck/blob/15b30ebf5834ec099e6292d874c918db3317b2a3/contextualSpellCheck/contextualSpellCheck.py#L34-L35

This will help model prevent False positives. Feel free to open a PR with a fix!

[2021-01-04 20:42] justinbhopper opened #45 "[BUG] outcome_spellCheck and score_spellCheck do not match"
**Describe the bug**
I am not sure if I am using this wrong, but it seems like the data in `score_spellCheck` does not match the `outcome_spellCheck` final output.  I am assuming that `outcome_spellCheck` is a result of performing the spelling corrections with the highest probability score?

**To Reproduce**
[code]

**Output:**
[code]

**Version (please complete the following information):**
 - co

[2021-01-05 11:02] R1j1t commented on #45
In the current logic, spell corrector pipeline can be divided as follows:

1. Misspell word identification
2. Candidate generation for replacement
3. Selection from the candidate

So, for the 3rd step i.e. _Selection_ I am using Levenshtein distance. It is a metric to calculate difference between 2 strings (here misspell and candidate). So when you see `score_spellCheck` it gives you the candidate

[2021-01-05 14:30] justinbhopper commented on #45
@R1j1t I think using the Levenshtein distance is the right approach.  I should probably just be using `suggestions_spellCheck` to list out the closest candidate.  I mistakenly thought the score represented the Levenshtein distance.

[2021-01-05 14:30] #45 closed

[2021-01-05 14:31] justinbhopper commented on #45
@R1j1t One last question - is it possible to get the Levenshtein distance value for the suggested candidate?

[2021-01-05 15:52] R1j1t commented on #45
Great! Regarding your question to get the Levenshtein distance, it is not recorded in any spaCy extension.

[2021-01-06 08:35] ajinkya2903 opened #46 "Can we replace incorrect spelled word with correct spelled?"
I want to replace the wrong spelled word with the correct spelled word instead of replacing it with the contextual word. Is this possible?

[2021-01-06 11:53] R1j1t commented on #46
Can you have a look at the [examples](https://github.com/R1j1t/contextualSpellCheck/blob/master/examples/en_example.py) folder? I think `doc._.outcome_spellCheck` is needed. Please read the [doc](https://github.com/R1j1t/contextualSpellCheck#extensions) if you need any clarification.

[2021-01-09 15:27] kshitij12345 opened #47 "Unnecessary dependency on flask"
From what I see, `flask` is only used in the example file `modelAPI.py` in `RESTAPI`.

The core code is not at all dependent on `flask`, however it is a required dependency
https://github.com/R1j1t/contextualSpellCheck/blob/f8cbeb8a7d5dc085f9f8cc5d27d390848d2df274/requirements.txt#L1

I think it would be better to just add note in `modelAPI.py` to install flask and remove it from `requirements.txt

[2021-01-09 15:30] kshitij12345 commented on #44
One side-effect of using the current transformers tokenizer logic is that it would by default support multi-lingual models. Otherwise I am not sure but I think different languages might require different spell-checkers as per the language nuances.

[2021-01-09 17:08] R1j1t commented on #47
That is a valid point. My reasoning for not removing `Flask` was, this repository has a dependency on it. Core functionality dependency is better captured in `setup.py` below:

https://github.com/R1j1t/contextualSpellCheck/blob/f8cbeb8a7d5dc085f9f8cc5d27d390848d2df274/setup.py#L31

I would not mind having a `requirement.txt` in _RESTAPI_ folder. But I was not sure so I just left it. I will check o

[2021-01-09 17:29] R1j1t commented on #44
As mentioned in the README

So lets say you want to perform spell correction on Japanese sentence:

1. provide Japanese spacy model: This will break the sentence into tokens. Now as this model is trained on Japanese language it nows the nuances (better than english model)
2. Provide the Japanese bert model: Which will provide the candidate word for OOV word. Note that vocabulary here is considered

[2021-02-03 19:38] AlvinKuruvilla commented on #38
Hi I would like to take up this issue, how exactly would we go about checking minimum versions

[2021-02-04 14:24] R1j1t commented on #38
Thanks @AlvinKuruvilla for your contribution! There is no restriction to have the lowest version possible as dependency. You can check if all the tests pass for the last major release (1.x or 2.x etc) for the core dependency.

https://github.com/R1j1t/contextualSpellCheck/blob/f8cbeb8a7d5dc085f9f8cc5d27d390848d2df274/setup.py#L31

If the tests fail then maybe will have to check the required minor

[2021-02-10 09:07] virdiprateek opened #48 "[BUG] compatibility issue with spacy v3"
I'm testing the way it's mentioned in the examples as follows:

[code]

Getting error:
[code]

Can you please suggest the fix for this??

[2021-02-10 14:05] jonmun commented on #48
This is due to changes introduced in spacy v3: https://nightly.spacy.io/usage/v3#migrating-add-pipe

I've submitted a pull request to fix this issues.

[2021-02-10 14:37] R1j1t commented on #48
@virdiprateek as mentioned by @jonmun there might be some issues when using the package with spacy v3. As a temporary solution you can downgrade the spacy to v2.x (if possible for your use case). In the mean time I will check and merge #49 to fix the issue.

Thanks you @jonmun for the PR!!

[2021-02-10 17:08] R1j1t commented on #48
@virdiprateek I have updated [contextualSpellCheck 0.3.4 ](https://pypi.org/project/contextualSpellCheck/)

Please try to install the latest package and you will not face this issue. In the mean time I will work on spacy v3 compatibility which I hope to release in a couple of days.

[2021-02-12 13:06] #46 closed

[2021-02-16 17:14] #48 closed

[2021-02-17 13:09] #38 closed

[2021-02-17 13:11] R1j1t commented on #38
Changes incorporated here: https://github.com/R1j1t/contextualSpellCheck/pull/52/files#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7L31

[2021-02-17 13:15] R1j1t commented on #40
It would be great help if someone can pick this task.

[2021-02-17 13:16] R1j1t commented on #39
Reopening with the hope that, I will work on this

[2021-02-17 16:35] R1j1t commented on #47
I tried to find any relevant PEP to identify what is the recommended way of using `requirement.txt` but was not able to find anything specific.

[PEP 518](https://www.python.org/dev/peps/pep-0518/#abstract) talks about minimum build requirement in setup.py (which this follows). I think the discussion is valid and I will be happy to create `requirement.txt` in `examples`. I decision is biased based

[2021-03-07 15:02] yishairasowsky opened #53 "[BUG] Language.factory"
**Describe the bug**
A clear and concise description of what the bug is.
I have installed contextualSpellCheck in Colab.
When I type this
[code]
then I get this error:
[code]
**To Reproduce**
[code]

**Expected behavior**
What was expected?

**Version (please complete the following information):**
 - contextualSpellCheck [e.g. 0.3.0]
 - Spacy: [e.g. 2.3.2]
 - transformers [e.g. 3.1.0]

**Additiona

[2021-03-07 15:02] yishairasowsky commented on #53
@jonmun @R1j1t @AlvaroCavalcante @dc-aichara
thank you for your awesome work!

[2021-03-08 13:29] R1j1t commented on #53
@yishairasowsky I think the issue is with spacy version. Could you install `spacy>=3.0.0`? If that does not solve the issue please provide the following information like:

**Version (please complete the following information):**

contextualSpellCheck [e.g. 0.3.0]
Spacy: [e.g. 2.3.2]
transformers [e.g. 3.1.0]

**To Reproduce**
[code]

I tried the following in colab and It worked fine for me:
`!pip

[2021-03-08 14:56] yishairasowsky commented on #53
thank you!

On Mon, Mar 8, 2021 at 3:29 PM Rajat <notifications@github.com> wrote:

--
Yishai Rasowsky
054.848.2245
Audio classes here <https://anchor.fm/yishai-rasowsky>.

[2021-03-26 10:19] Tocic opened #55 "[BUG] PyPI package missing required dependencies"
**Describe the bug**
I can't install all the required dependencies using `pip install contextualSpellCheck`. It seems like [PyPI package](https://pypi.org/project/contextualSpellCheck/) doesn't contain [the fix](https://github.com/R1j1t/contextualSpellCheck/commit/4772e854c8417211d979eebd22aeea78a29e09cc#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7).

**To Reproduce**
[cod

[2021-03-26 14:12] #40 closed

[2021-03-26 14:12] #39 closed

[2021-03-27 11:35] R1j1t commented on #55
I remember removing the `pytorch` package from deps because I saw that `contextualSpellCheck` another dependency `transformers` already had it in its setup.

See the below line in transformers:
https://github.com/huggingface/transformers/blob/b0595d33c1b1abb75fc42a54553c724154cf6cd0/setup.py#L131

I am not sure why transformers library did not trigger the `pytorch` download. No worries, I will add

[2021-03-28 11:00] #55 closed

[2021-03-29 23:00] BradenAnderson opened #59 "[BUG]"
**Describe the bug**

I apologize in advance if this issue I am about to describe is simply some kind of user error rather than an actual issue. Please understand this is my first time using Spacy and contextualSpellCheck and I believe I am using them correctly however there is always the chance I am not.

That said, my application is using contextualSpellCheck to check the spelling in tweets and

[2021-03-31 18:35] R1j1t commented on #59
Hi @BradenAnderson I will be honest here, based on some cases which I checked I thought it was working okay not great though.

Your statement:

I will not deny this claim. There is still a lot of work to be done and that is why the versions is 0.x. Possible investigation points for very bad correction could be the `[MASK]` filling bert model and spell error identification (pending unfixed #44 ). A

[2021-04-01 03:55] BradenAnderson commented on #59
Hi Raajat,

Thanks for providing this response. I was honestly thinking that that after I described the issue, that whoever responded would be pointing out some error I had made in my implementation that was leading to these results.

I have tried to debug with no luck, but I will look through the links and information you provide and try again. If I have some extra time it would be fun to fork an

[2021-04-14 20:24] #53 closed

[2021-05-29 18:41] R1j1t commented on #59
@BradenAnderson, I finally got the time to look at your question again and I think you should try to pass one of the model [here](https://huggingface.co/models?pipeline_tag=fill-mask&search=tweet) to `contextualSpellCheck`. See the below pseudo code for reference:

[code]

I programmatically checked for 15 sentences and below are the result in the table :

<details> <summary> Output Table </summar

[2021-06-29 06:59] KennethEnevoldsen opened #61 "Pipeline dependencies?"
Wonderful project, seems a lot like something I would like to use for [dacy](https://github.com/KennethEnevoldsen/DaCy), a danish NLP pipeline build on spacy. Currently, it seems like the spelling correction is dependent on the NER and other pipelines? If so this will sadly make it less useful for application before applying the pipeline.

[2021-06-29 13:42] CamilleSchr opened #62 "Another BERT, BioBERT ?"
Hi,
Thanks for this library !
Is it possible to change BERT to BioBERT ?
I worked on scientific articles, and I would like to correct specific terms, like name of disease that the transcriptions were wrong. For instance, I have "covet 19" on the transcription, instead of "covid 19", and I would like to correct that.
Can you help me please ?
Thanks,
Cheers,
Camille

[2021-07-12 09:59] #59 closed

[2021-07-13 08:00] R1j1t commented on #62
Hi @CamilleSchr, It is possible to pass most of the bert models via `model_name` tag example:

The `model_name` should be same as on huggingFace because it will download the respective file

[code]

In the above example it corrected "covet" to "Homes", might need to look deeper into this, but you can try other models.

[2021-07-13 08:03] CamilleSchr commented on #62
Ok, thank you so much !

[2021-07-13 08:03] #62 closed

[2021-07-13 08:05] R1j1t commented on #61
Hi @KennethEnevoldsen It is great to hear you liked the project! NER and sentence tokenizer is an important to identify if the spelling is wrong of a named entity. Sentence tokenizer is required to provide context for spelling correction, so i am afraid I cannot do much at this point. I am occupied at present but once i get free I will surely have a look into [dacy](https://github.com/KennethEnevo

[2021-07-13 11:40] KennethEnevoldsen commented on #61
Sure thing, I naturally fully understand that you have other things. The reason I wanted to add a spelling correction module to the spacy pipeline to actually because relative modest spelling errors seem to influence the model performance notably. There is a more detailed explanation on this [here](https://centre-for-humanities-computing.github.io/DaCy/robustness.html).

[2021-07-15 13:57] R1j1t commented on #61
I completely understand, will surely have try to contribute!!

[2021-08-13 13:06] xei opened #64 "[BUG]"
I tried to correct spelling mistakes in a large text.

[code]

At first, I faced this error:
ValueError: [E030] Sentence boundaries unset. You can add the 'sentencizer' component to the pipeline with: `nlp.add_pipe('sentencizer')`. Alternatively, add the dependency parser or sentence recognizer, or set sentence boundaries by setting `doc[i].is_sent_start`.

So, I added the `sentencizer` component

[2021-08-15 07:50] R1j1t commented on #64
Thanks @xei for reporting this issue. I know BERT has a limit of 512 characters and the model currently being used for inference was trained with maximum 512 characters [REF](https://huggingface.co/bert-base-cased#pretraining).

Also, I am not sure how `corpus_raw` looks like. But 512 character should work for most cases as the spell check only considers a sentence for the context to spell checkin

[2021-08-22 12:27] #47 closed

[2021-09-20 23:51] #61 closed

[2021-09-26 17:38] dsvrsec opened #67 "Methodology for spell check"
Can you please mention the methodology followed in detection and correction of mispelled words,may be at higher level,if possible, thank you

[2021-09-30 17:14] R1j1t commented on #67
Hey @dsvrsec, I have mentioned this in my comments here: https://github.com/R1j1t/contextualSpellCheck/issues/59#issuecomment-811322409

Please let me know if you have any questions, also feel free to contribute!!

[2021-10-05 13:09] piegu commented on #44
HI @R1j1t,

First of all, congratulations for you **Contextual Spell Checker (CSC)** based on spaCy and BERT (transformer model).

As I'm searching for this kind of tool, I tested your CSC and I can give the following feedback:

1. your CSC is an **universal Spell Checker** as it is possible to dowload the spaCy and BERT model of a language other than English. For example, this is my code for usin

[2021-11-19 04:41] Xiaoping777 opened #68 "add proxy setting when initialize "contextual spellchecker""
**Is your feature request related to a problem? Please describe.**
our work is behind a firewall, need a proxy setting to fetch the transformer model "bert-base-cased", I tried to download via "AutoTokenizer.from_pretrained('bert-base-cased', proxies={'http':PROXY, 'https':PROXY})"; however, looks like it cannot find the path. so I have to change 107 line by adding the proxy:
self.BertTokenizer =

[2021-11-19 05:31] Xiaoping777 commented on #67
Hi here, actually I compared the output with pyspellchecker package, which is purely based on the edit distance, the results is almost same. Just wondering, if there are some grammar correct included is the bert model in use?

[2021-11-21 12:44] R1j1t commented on #68
This I think is a good enhancement to have, I will have a look and try to commit the same. If you think, you can contribute please feel free to open a PR. I would be more than happy to merge!

[2021-12-26 07:54] #67 closed

[2021-12-28 07:27] Hendler opened #69 "Enable github sponsorship to speed work"
https://github.blog/2020-03-24-getting-started-with-github-sponsors/

[2021-12-28 21:25] #68 closed

[2022-01-04 19:33] R1j1t commented on #69
Hey, @Hendler, thank you so much for the suggestion. I did think about it, but Github does not support the sponsor button for my country. I could use some 3rd party accounts but never tried that route.

If there is anything specific you can see in the package, please feel free to create a PR. It will help other users as well! Or you can make an issue for the enhancement. I don't see myself contrib

[2022-01-04 20:29] Hendler commented on #69
Hello, thank you.

 Maybe Patreon has a solution?

[2022-01-05 08:54] R1j1t commented on #69
I will try over weekend for Patreon, thanks!

[2022-02-12 12:24] #69 closed

[2022-03-25 14:48] ggnicolau opened #70 "Change pre-trained model?"
I'm trying to create a spell checker proof-of-concept (POC) for an e-commerce search engine. We're already using Transformers architecture of other tasks and I thought about trying it also with spell checker.

I've came across this beatiful API and I want to give it a try. I've seen it uses BERT classical pre-trained model. But I need to use a pre-trained model in portuguese (such as 'BERTimbau')

[2022-04-24 18:36] R1j1t commented on #70
Hey @ggnicolau, apologies for the delayed response. The package supports the passing of custom models to spacy pipeline and/or contextual spellchecker. Can you please refer to the below snippet:

https://github.com/R1j1t/contextualSpellCheck/blob/88bbbb46252c534679b185955fd88c239ed548a7/examples/ja_example.py#L1-L12

If this does not solve the issue, please let me know, and we can work from there!

[2022-06-10 05:31] RathiAaditya opened #72 "Facing some error while Installing this package via command prompt"
I was trying to install this package by using the command pip install contextualSpellCheck.
I am able to install some of the files but its giving me legacy install failure error.
What should I do in this case can someone please help?
I am getting an error while installing the editdistance package(which is probably the core thing based on Edit Distance Algorithm)
Can someone please help regarding t

[2022-06-15 13:49] #72 closed

[2022-08-16 09:29] JuanFF opened #76 "Bad performance for other language"
Hello,
I'm trying to use the contextual spell checker for Spanish. I run the script in https://github.com/R1j1t/contextualSpellCheck/blob/88bbbb46252c534679b185955fd88c239ed548a7/examples/ja_example.py with the following custom configuration:

[code]
but I don't get the desired result

`La economia a crecido un dos por ciento` should be corrected as `La economía ha crecido un dos por ciento`
Inste

[2022-08-17 18:04] R1j1t commented on #76
Hi [@JuanFF](https://github.com/JuanFF), I have the following 2 observations:
1. [contextualSpellCheck](https://github.com/R1j1t/contextualSpellCheck) would be unable to change "a" to "ha". [Details here](https://github.com/R1j1t/contextualSpellCheck#types-of-spelling-mistakes)
2. The problem with "ciento" is because of the bert model bert-base-multilingual-cased. Suppose the user passes no vocabu

[2022-08-21 03:17] tpanza opened #79 "[BUG] Windows users with Python 3.8+ cannot resolve editdistance==0.5.3 dependency"
**Describe the bug**
A Windows user running Python 3.8 or 3.9 cannot successfully run `pip install contextualSpellCheck`. (Unless Microsoft C++ Build Tools has been installed ahead of time.)

**To Reproduce**
[code]

**Expected behavior**
Installation to succeed on Windows for Python 3.8 or 3.9, without having to install Microsoft C++ Build Tools.

**Version (please complete the following informat

[2022-08-21 06:14] R1j1t commented on #79
Hi @tpanza Thank you for reporting the bug as well as proposing a solution! If you want, you can update the version in the below files and raise a PR. I will merge and release the change.

https://github.com/R1j1t/contextualSpellCheck/blob/750824dee1cdcc786e757ae0e75a87a538ea6338/setup.py#L34

https://github.com/R1j1t/contextualSpellCheck/blob/750824dee1cdcc786e757ae0e75a87a538ea6338/requirements.

[2022-08-22 11:50] #79 closed

[2022-08-24 08:44] EtienneAb3d opened #83 "French (doc add)"
As requested in #41, here is how I succeeded in running contextualSpellCheck for French.

Use French spaCy model:
[code]

Use flaubert/flaubert_large_cased:
[code]

Need these dependencies:
[code]

Remark: on the result spaces are lost, thus need a post-processing to get them back properly.

[2022-08-25 16:53] R1j1t commented on #83
Hey @EtienneAb3d thank you for raising this request. It is great to know your were successfully able to use it for french!
Would you like to raise a PR to add an example for french language similar to [other examples](https://github.com/R1j1t/contextualSpellCheck/tree/master/examples)?

I would be happy to merge the PR as it would be great addition for people using it for french!

If you have any

[2022-08-26 04:34] EtienneAb3d commented on #83
Hi @R1j1t, perhaps later I will find the time to build such a PR. But, on the team side, if you have a direct access to edit, it's only few lines to add to the doc.
;-)

[2022-08-26 11:29] R1j1t commented on #83
No worries!

[2022-09-27 22:24] #76 closed

[2022-10-11 09:24] RathiAaditya commented on #72
Hey hello Rajat, regarding that , the error which I was facing was probably
because I was using a 32 bit python ,which I was not so the other
possibility was because I didn't have Microsoft C++ tools so I tried
installing that but that didn't work either. I am actually working on a
project in spacy where we are building on top of a  pipeline. But I was
facing some issues with nltk_data since the p

[2022-10-21 02:30] nickchomey opened #84 "Single multilingual model recommendation?"
Is there a single model that you would recommend using to autocorrect misspellings across common languages? Thanks!

[2022-11-23 07:11] R1j1t commented on #84
Hey @nickchomey, I apologize for the late reply. The default model (`bert-base-cased`) sounds like a good model, but I know it is predominantly trained on English text. .As, my work did not require multilingual sentences, so I have little experience.

 **If you have any suggestions, please let me know**

[2022-11-23 12:54] #84 closed, assigned to nobody

[2022-11-27 05:52] hardianlawi commented on #70
I think the codes do not work for all pre-trained models. I tried changing `bert-base-cased` to `roberta-large` and it did not work for the example in the documentation

[2022-11-28 02:17] lanerdog opened #86 "Uy"
Hh